.full-button {
    background-color: red;
}

.vacant-button {
    background-color: green;
}

.default-status-container {
    background-color: green;
}

.full-status-container {
    background-color: red;
}
